h1{
    text-align: center;
    margin-top: 100px;
}

#myArkanoid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

#myArkanoidGameOver{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../image/gameOver.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display:none;
    z-index: 9999;
}
